

nav {
    background-color: $white;
    
}

.navbar-brand {
    background-image: url(../media/img/smart-vagabond-logo.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 250px;
    width: 350px;
    height: 60px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
}

.navbar {
    height: 80px;
}