// Theme created with https://themestr.app/
$primary:#FF550B;
$secondary:#303030;
$success:#015668;
$danger:#FF304F;
$info:#0F81C7;
$warning:#0DE2EA;
$light:#e8e8e8;
$dark:#000000;
$enable-gradients:false;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.25rem;

// Weather icons font path
$wi-path: "../media/fonts";