:root {
    --transparent-white: rgba(255, 255, 255, 0.8);
    --white: #fff;
    --light-grey: #fafafa;
    --dark-grey: #E5E5E5;
    --light-black: #666;
    --dark-black: #111;
    --blue: #009cff;
    --main-font-size: 16px;
    --large-margin: 32px;
    --small-margin: 16px;
    --extra-small-margin: 8px;
    --border-radius: 4px;
    --box-shadow: 0 3px 5px 0 rgb(0 1 1 / 10%);
}