@import "variables";
@import "fonts";
@import "header";
@import "footer";
@import "~bootstrap/scss/bootstrap";
@import "open-weather-icons";

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    hyphens: auto;
}

code {
    font-size: 80%;
}

body {
    font-family: "Cabin", sans-serif;
    background-color: var(--white);
    color: var(--light-black);
    font-weight: 400;
    margin: 0;
    font-size: var(--main-font-size);
    line-height: 1.5;
    hyphens: auto;
}

body > .container {
    padding: 30px 15px 30px;
}

textarea {
    font-family: "Cabin", sans-serif;
}

.jumbotron {
    // color: white;
    border-radius: 0;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    //     url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
    height: 50vh;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-heading {
    padding-top: 30vh;
}

#generate {
    width: 100%;
}

.nav-tabs-custom {
    // border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
  
    .nav-link {
      margin-bottom: -$nav-tabs-border-width;
    //   border: $nav-tabs-border-width solid transparent;
      @include border-top-radius($nav-tabs-border-radius);
  
      @include hover-focus() {
        border-color: $nav-tabs-link-hover-border-color;
      }
  
      &.disabled {
        color: $nav-link-disabled-color;
        background-color: transparent;
        border-color: transparent;
      }
    }
    
    .nav-link.active {
        border-bottom: $nav-tabs-border-width solid;
        border-color:$white $black $black !important;
        @include border-top-radius($nav-tabs-border-radius);
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      color: $nav-tabs-link-active-color;
      background-color: $nav-tabs-link-active-bg;
      border-color: $nav-tabs-link-active-border-color;
    }
  
    .dropdown-menu {
      // Make dropdown border overlap tab border
      margin-top: -$nav-tabs-border-width;
      // Remove the top rounded corners here since there is a hard edge above the menu
      @include border-top-radius(0);
    }
  }